@import 'sb.css';
@import 'footer.css';

body{
    background-color: Black;
    color: white;
    margin: 0;
}

.bg{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.color-bg{
    background-color: rgba(158, 102, 127,0.15);
    border-radius: 50px;
    width: 600px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    transition: 300ms;
}

.fd-bg{
    color: rgba(158, 102, 127,0.2);
}

#close{
    display: none;
}

.close{
    position: relative;
    width: 35px;
    height: 35px;
    transform: translateY(230px);
}

.bloque{
    height: 100vh;
    width: 100vw;
}

.hilera{
    display: flex;
    height: 100%;
    width: 100%;
}

.b-1{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    /*margin: auto;*/
    width: calc(100% / 2);
}

.b-wraper{
    background-color: rgba(18,18,18,1);
    border-radius: 50px;
    height: 400px;
    width: 80%;
}

.b-1-1{
    background: -webkit-radial-gradient(circle, rgb(158, 102, 127) 0%, rgb(128, 163, 202) 100%);
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 500;
    height: 150px;
    letter-spacing: 2px;
    margin: 35px auto;
    margin-bottom: 0;
    transition: 300ms;
    width: 420px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.b-1-2{
    font-family: sans-serif;
    font-size: 18px;
    height: 120px;
    letter-spacing: 2px;
    margin: 20px auto;
    transition: 300ms;
    width: 420px;
}

.b-2-1{
    background-color: #121212;
    border-radius: 50px;
    height: 400px;
    overflow: hidden;
    width: 80%;
}

.b-wlc{
    height: 100%;
    transform: 500ms;
}

.wlc{
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
    color: #121212;
    color: #0f0f0f;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /*width: 200px;
    height: 100px;
    /*top: 30%;
    right: 13%;
    /*z-index: 2;*/
}

.wraper-circle{
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    margin: auto;
    /*transform: translate(200px, 100px);*/
    height: 100%;
    width: 100%;
}

.circle{
    background-color: white;
    margin: 0;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    animation: circle 6s infinite;
}

@keyframes circl {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(2);
    }

}


@media screen and (max-width: 1110px) {
    .b-1{
        align-items: center;
        width: 100%;
    }

    .hilera{
        flex-direction: column;
    }
    .b-1-1{
        font-size: 40px;
        /*margin-top: 20px;*/
        height: 100px;
        width: 60%;
    }
    .b-1-2{
        margin: auto;
        height: 125px;
        width: 60%;
    }
    .b-wraper{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .b-2-1{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        transform: translateY(-100px);
        height: 45vh;
    }
    .color-bg{
        font-size: 28px;
    }
}
@media screen and (max-width: 700px) {
    .b-1-1{
        font-size: 35px;
        height: 90px;
        width: 70%;
    }
    .b-1-2{
        font-size: 16px;
        height: 125px;
        width: 70%;
    }
    .b-sb-1{
        overflow: auto;
    }
    .color-bg{
        font-size: 25px;
    }
}
@media screen and (max-width: 520px) {
    .b-wraper{
        height: 350px;
    }
    .b-1-1{
        text-align: center;
        margin: auto;
        margin-top: 35px;
        font-size: 28px;
        height: 100px;
        width: 94%;
    }
    .b-1-2{
        text-align: center;
        font-size: 16px;
        height: 100px;
        width: 95%;
    }
    .b-2-1{
        height: 400px;
    }
    .color-bg{
        font-size: 20px;
    }
}

@media screen and (max-height: 675px) {
    .b-2-1{
        transform: translateY(-50px);
        height: 250px;
    }
}